/* USER VARIABLES SECTION */

:root {
	--accent: rgba(49, 96, 15, 0.8);
	--accent-hover: rgba(88, 131, 2, 0.75);
	--second: #ECEBF1;
	--text: #171A1A;
	--yellow: #F1F160;
	--regular-text: 16px;
	--lineheight: 1.7;
	--userfont: inter-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/inter-Light.woff2") format("woff2"); font-family: "inter-st"; font-weight: 300; font-style: normal; }
@font-face { src: url("../fonts/inter-Regular.woff2") format("woff2"); font-family: "inter-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/inter-Medium.woff2") format("woff2"); font-family: "inter-st"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/inter-SemiBold.woff2") format("woff2"); font-family: "inter-st"; font-weight: 600; font-style: normal; }
@font-face { src: url("../fonts/inter-Bold.woff2") format("woff2"); font-family: "inter-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"); font-family: "inter-st"; font-weight: 800; font-style: normal; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul,
ol {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

button {
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	border-radius: 0;
	cursor: pointer;
	appearance: none;
}

img {
	max-width: 100%;
	display: block;
	border-radius: 0.625rem;
}

input,
button,
textarea,
select {
	font: inherit;
}

.container {
	max-width: 71.25rem;
	padding: 0 0.625rem;
	margin: 0 auto;
}

._format {
	padding: 4.375rem 0;
}

._bg-second {
	background-color: var(--second);
}

.button {
	display: inline-block;
	font-weight: 700;
	background-color: var(--accent);
	color: #fff;
	padding: 0.625rem 1.563rem;
	border-radius: 0.625rem;
	transition: background-color 0.3s ease;
}

.btn-more {
	color: var(--text);
	font-weight: 700;
	text-decoration: underline;
	font-size: 0.938rem;
}

.title {
  position: relative;
  padding-top: 1rem;
  font-weight: 800;
  line-height: 1.5;
  font-size: 1.563rem;
}

.article-text {
  margin: 1rem 0;
  font-size: 0.938rem;
}

.title::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 0.2rem;
  background-color: var(--accent);
  border-radius: 0.2rem;
  content: "";
}

.button:hover {
	background-color: var(--accent-hover);
	transition: background-color 0.3s ease;
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.05);
}

/* USER STYLES */

/* header styles */

.header {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	transition: transform 0.5s;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
}

.header--static {
	position: static;
	background-color: #fff;
}

.header.hide {
	transform: translateY(-100%);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 7.5rem;
}

.header__list {
	display: flex;
}

.header__list li {
	position: relative;
}

.header__list a::after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	content: "";
	background-color: transparent;
	transition: all 0.3s ease;
}

.header__list a:hover::after {
	background-color: var(--accent);
	transition: all 0.3s ease;
}

.header__list li + li {
	margin-left: 2.5rem;
}

.header__list a {
	color: var(--text);
}

.header__item--dropdown {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.header__item--dropdown::after {
	display: none;
}

.header__menu-arrow {
	margin-left: 10px;
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid var(--accent);
}

.header__sub-menu {
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 0;
	background-color: var(--accent);
	border-radius: 0.625rem;
	padding: 0.625rem 1rem;
	min-width: 12.5rem;
}

body._pc .header__list > li:hover .header__sub-menu {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translate(0px, 0px);
}

.header__sub-menu a::after {
	display: none;
}

.header__sub-menu li + li {
	margin-left: 0;
	margin-top: 5px;
}

.header__sub-menu a {
	white-space: nowrap;
	color: #fff;
	opacity: 0.8;
	transition: opacity 0.3s ease;
}

.header__sub-menu a:hover {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.header__contacts-item {
	position: relative;
	padding-left: 2.25rem;
	margin-bottom: 0.6rem;
}

.header__contacts-item:last-child {
	margin-bottom: 0;
}

.header__contacts-item--mail::before,
.header__contacts-item--phone::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1rem;
	height: 1rem;
	content: "";
}
.header__contacts-item--mail::before { 
	background-image: url('../images/icons/envelope-solid.svg');
}

.header__contacts-item--phone::before {
	background-image: url('../images/icons/phone-alt-solid.svg');
}

.header__contacts-link {
	position: relative;
	color: var(--text);
	padding-bottom: 0.2rem;
}

.header__contacts-link::after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background-color: transparent;
	transition: all 0.3s ease;
	content: "";
}

.header__contacts-link:hover.header__contacts-link::after {
	background-color: var(--accent);
}

/* hero styles */

.hero {
	position: relative;
	min-height: 47rem;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.hero::after {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	background-color: rgba(0, 0, 0, 0.1);
}

.hero__content {
	max-width: 60vw;
	width: 100%;
	padding: 1.5rem 3.125rem;
	border-top-left-radius: 0.625rem;
	border-bottom-left-radius: 0.625rem;
	background-color: var(--accent);
}

.hero__title {
	font-size: 2.125rem;
	color: #fff;
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: 3rem;
}

.hero__title span {
	color: #ECEBF1;
	font-weight: 400;
}

.hero__sub-title {
	position: relative;
	display: block;
	margin-bottom: 0.625rem;
	padding-left: 3.5rem;
	font-size: 1.625rem;
	font-weight: 800;
	color: #fff;
}

.hero__sub-title::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 2.5rem;
	height: 0.2rem;
	background-color: var(--yellow);
	content: "";
}

.hero__descr {
	color: #fff;
}

/* promo styles */

.promo__inner {
	display: flex;
}

.promo__content {
	max-width: 100%;
	width: 100%;
	margin-right: 3.25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.promo__title {
	position: relative;
	max-width: 20rem;
	margin-bottom: 1.875rem;
	padding-top: 1rem;
	text-align: right;
}

.promo__title::before {
	position: absolute;
	right: 0;
	top: 0;
	width: 2.5rem;
	height: 0.2rem;
	background-color: var(--accent);
	content: "";
}

.promo__image {
	max-width: 56%;
	object-fit: cover;
	cursor: pointer;
}

.square-decor {
	position: relative;
}

.square-decor::before {
	position: absolute;
	right: -0.7rem;
	bottom: -0.7rem;
	z-index: -1;
	width: 40%;
	height: 54%;
	background-color: var(--accent);
	border-radius: 0.625rem;
	content: "";
}

/* directions style */

.main-title {
	position: relative;
	margin-bottom: 1.5rem;
	padding: 0 0 1rem 1.35rem;
	font-size: 2.125rem;
}

.main-title::after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	background-color:rgba(88, 131, 2, 0.2);
	content: "";
}

.directions__title::after {
	width: 30rem;
}

.directions__items {
	display: flex;
	justify-content: space-between;
}

.universal-item {
	max-width: 34.375rem;
	border: 1px solid rgba(88, 131, 2, 0.15);
	border-radius: 0.625rem;
}

.universal-item__top-content {
	position: relative;
}

.universal-item__cover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.45);
	border-top-left-radius: 0.625rem;
	border-top-right-radius: 0.625rem;
	transition: all 0.3s ease;
}

.universal-item:hover .universal-item__cover {
	background-color: transparent;
	transition: all 0.3s ease;
}

.universal-item__top-content::before,
.universal-item__top-content::after {
	position: absolute;
	top: 1.5rem;
	width: 0.625rem;
	height: 0.625rem;
	content: "";
	opacity: 0;
	transition: opacity 0.3s ease;
}

.universal-item:hover .universal-item__top-content::before,
.universal-item:hover .universal-item__top-content::after{
	opacity: 1;
	transition: opacity 0.3s ease;
}

.universal-item__top-content::before {
	left: 1.5rem;
	background-image: url('../images/icons/angle-left.svg');
}

.universal-item__top-content::after {
	right: 1.5rem;
	background-image: url('../images/icons/angle-right.svg');
}

.universal-item__image {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.universal-item__name {
	position: absolute;
	z-index: 2;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 0.625rem 1.5rem;
	color: #fff;
	font-size: 1.125rem;
	font-weight: 400;
	background-color: var(--accent);
}

.universal-item:hover .universal-item__name {
	text-decoration: underline;
}

.universal-item__main-content {
	padding: 1.5rem 1.5rem 2.25rem;
}

.universal-item__descr {
	margin-bottom: 0.8rem;
	font-size: 0.938rem;
	color: var(--text);
}

.universal-item__more {
	font-size: 0.875rem;
}

/* importance styles */

.importance__title::after {
	width: 22rem;
}

.importance__content {
	display: flex;
	align-items: center;
	min-width: 0;
}

.importance__slide {
	display: flex;
	align-items: center;
}

.importance__slide a {
	display: block;
}

.importance__info {
	max-width: 34.375rem;
	text-align: right;
	margin-right: 3.5rem;
}

.importance__heading {
	position: relative;
	margin-bottom: 1.25rem;
	padding-bottom: 1.25rem;
	font-size: 1.375rem;
}

.importance__heading::after {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 2.5rem;
	height: 0.2rem;
	background-color: var(--accent);
	border-radius: 0.125rem;
	content: "";
}

.importance__text {
	margin-bottom: 1.25rem;
	max-width: 90%;
	margin-left: auto;
}

.importance__text span{
	font-weight: 700;
	color: rgba(88, 131, 2, 0.75);
}

.importance__slider-wrapper {
	width: 100%;
}

.importance__slider {
	border-radius: 0.625rem;
	padding-bottom: 40px;
}

.importance__slide-descr {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.625rem 1.25rem;
	background-color: var(--accent);
	color: #fff;
	border-bottom-left-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem;
}

.importance__slide-descr span{
	color: rgba(203, 255, 97, 0.75);
}

.importance__img {
	position: relative;
	max-width: 32rem;
	width: 100%;
}

.importance__slider .swiper-pagination {
	max-width: calc(34.375rem + 3.5rem + 5.75rem);
	bottom: 0;
	text-align: right;
}

.importance__slider .swiper-pagination-bullet {
	width: 1.875rem;
	height: 0.32rem;
	border-radius: 0.125rem;
	margin-left: 0!important;
	margin-right: 1rem!important;
}

.importance__slider .swiper-pagination-bullet-active {
	background-color: var(--accent);
}


/* initiatives styles */

.initiatives {
	position: relative;
	overflow: hidden;
}

.initiatives::after {
	position: absolute;
	z-index: 0;
	background-image: url('../images/icons/earth-decor.svg');
	background-size: cover;
	background-position: center;
	transform: rotate(348deg);
    width: 45rem;
    height: 46rem;
    right: -192px;
    top: 42px;
	content: "";
	transition: transform 1s ease;
}

.initiatives.rotate::after {
	transform: rotate(370deg);
	transition: transform 1s ease;
}

.initiatives__title {
	margin-bottom: 2.5rem;
}

.initiatives__title::after {
	width: 21rem
}

.initiatives__content {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
}

.initiatives__info {
	max-width: 34.375rem;
	margin-right: 2rem;
}

.initiatives__tabs {
	display: flex;
	margin-bottom: 1.5rem;
}

.initiatives__tab {
	padding: 0.625rem 1.875rem;
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--text);
	border: 2px solid rgba(49, 96, 15, 0.8);
	border-radius: 0.625rem;
}

.initiatives__tab.active {
	color: #fff;
	background-color: var(--accent);
	border-color: transparent;
}

.initiatives__tab + .initiatives__tab {
	margin-left: 1.875rem;
}

.initiatives__tab-content {
	display: none;
}

.initiatives__tab-content.active {
	display: block;
}

.initiatives__text {
	margin-bottom: 1.25rem;
}

.initiatives__images-content {
	display: none;
}

.initiatives__images-content.active {
	display: flex;
	align-items: center;
}

.initiatives__images-left {
	margin-right: 1.25rem;
}

.initiatives__img {
	max-width: 16.625rem;
	width: 100%;
	height: 11rem;
}

.initiatives__images-right a {
	display: block;
	margin-bottom: 1.25rem;
}

.initiatives__images-right a:last-child {
	display: block;
	margin-bottom: 0;
}

/* about styles */

.about__inner {
	margin-top: 7.5rem;
	display: flex;
	align-items: center;
}

.about__title {
	position: relative;
	margin-bottom: 0.938rem;
	padding-top: 0.938rem;
	font-size: 2.125rem;
	font-weight: 800;
}

.about__title::before {
	position: absolute;
	right: 0;
	top: 0;
	width: 2.5rem;
	height: 0.2rem;
	background-color: var(--accent);

	content: "";
}

.about__info {
	max-width: 32rem;
	margin-right: 3.75rem;
	text-align: right;
}

.about__image img {
	max-width: 34.375rem;
	margin-bottom: 1.25rem;
	width: 100%;
	max-height: 27.5rem;
}

/* team styles */

.team__title {
	margin-bottom: 2.25rem;
	padding-left: 0;
	text-align: center;
	font-weight: 800;
}

.team__title::after {
	width: 300px;
	left: 50%;
	transform: translateX(-50%);
}

.team__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.25rem;
}

.team__item {
	max-width: 100%;
	display: flex;
	align-items: center;
}

.team__item:nth-child(even) {
	flex-direction: row-reverse;
	margin-right: auto;
}

.team__item:nth-child(odd) {
	margin-left: auto;
}

.team__item:nth-child(odd) .team__content{
	margin-right: 1.25rem;
	text-align: right;
}

.team__item:nth-child(even) .team__content{
	margin-left: 1.25rem;
}

.team__role,
.team__name {
	display: block;
	color: var(--text);
	font-weight: 500;
	margin-bottom: 0.75rem;
}

.team__email {
	color: var(--text);
	font-weight: 500;
}

.team__image {
	max-width: 10.625rem;
}

/* requisites styles */

.requisites {
	padding-bottom: 0.625rem;
}

.requisites__title {
	margin-bottom: 3.125rem;
	text-align: right;
	font-weight: 800;
	font-size: 2.125rem;
}

.requisites__title::after {
	left: 100%;
	transform: translateX(-100%);
	width: 25rem;
}

.requisites__list {
	display: flex;
	flex-wrap: wrap;
}

.requisites__item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	max-width: 33.3%;
	flex-basis: 33.3%;
	margin-bottom: 3.75rem;
}

.requisites__content {
	text-align: right;
}

.requisites__name {
	margin-bottom: 1.5rem;
	display: block;
	text-align: right;
	font-size: 1.125rem;
}

.requisites__dowload {
	display: inline-block;
	text-align: right;
	color: var(--text);
	border-bottom: 1px solid var(--text);
	font-size: 1.063rem;
	font-weight: 500;
	line-height: 1.3;
}

.requisites__img {
	margin-left: 1rem;
}

/* contacts styles */

.ymaps-2-1-79-zoom {
	display: none!important;
}

.contacts {
	position: relative;
}

.contacts__info {
	position: absolute;
	max-width: 65vw;
	padding: 1.5rem 4rem 1.5rem calc((100vw - 71.25rem - 17px) / 2);
	z-index: 2;
	top: 50%;
	left: 0;
	color: #fff;
	transform: translateY(-50%);
	background-color: var(--accent);
	border-top-right-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem;
}

.contacts__title {
	margin-bottom: 1rem;
	padding-left: 0;
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.4;
}

.contacts__title::after {
	width: 10rem;
	background-color: #fff;
	opacity: 0.1;
}

.contacts__items {
	margin-bottom: 1.875rem;
}

.contacts__item {
	position: relative;
	margin-bottom: 1rem;
	padding-left: 1.625rem;
}

.contacts__item::before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 1rem;
	content: "";
	background-repeat: no-repeat;
	background-size: cover;
}

.contacts__item--mail::before {
	height: 0.75rem;
	background-image: url('../images/icons/mail-yellow.svg');
}

.contacts__item--phone::before {
	height: 1rem;
	background-image: url('../images/icons/phone-yellow.svg');
}

.contacts__item:last-child {
	margin-bottom: 0;
}

.contacts__link {
	color: #fff;
	border-bottom: 1px solid transparent;
	transition: border-color 0.3s ease;
}

.contacts__link:hover {
	border-color: var(--yellow);
	transition: border-color 0.3s ease;
}

.contacts__heading {
	margin-bottom: 1rem;
	display: inline-block;
	font-size: 1.7rem;
	line-height: 1.1;
	border-bottom: 1px solid var(--yellow);
}

.contacts__requisites p {
	font-size: 0.875rem;
}

.contacts__addition {
	display: block;
	margin-top: 1.25rem;
	font-size: 0.75rem;
	opacity: 0.7;
}

/* resume styles */

.resume {
  position: fixed;
  z-index: 3;
  top: 7.5rem;
}

.resume__open-btn {
  background-color: var(--accent);
  color: #fff;
  border-radius: 0;
  border-bottom-right-radius: 0.625rem;
  font-weight: 400;
  transition: all 0.3s ease;
}

.resume__open-btn.hide {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.resume__content {
  position: absolute;
  top: 0;
  left: -300%;
  padding: 1rem 3.75rem 2rem 1.875rem;
  background-color: var(--accent);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.resume__content.show {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.resume__close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
}

.resume__close-icon {
  pointer-events: none;
}

.resume__title {
  margin-bottom: 1rem;
  display: block;
  font-size: 1.75rem;
  color: #fff;
  font-weight: 300;
}

.resume__item {
  position: relative;
  margin-bottom: 0.7rem;
  padding-left: 1.625rem;
  white-space: nowrap;
}

.resume__item::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1rem;
  height: 0.125rem;
  background-color: #fff;
  content: "";
  opacity: 0.8;
}

.resume__item--accent a{
  color: var(--yellow);
  opacity: 1;
}

.resume__item--accent::before{
  background-color: var(--yellow);
  opacity: 1;
}

.resume__link {
  color: #fff;
  opacity: 0.8;
}

/* children-promo */

.children-promo {
  margin-top: 10.188rem;
}

.children-promo__inner {
  display: flex;
  align-items: center;
}

.children-promo__image {
  margin-right: 3rem;
  max-width: 33.25rem;
}

.children-promo__item {
  margin-bottom: 1.563rem;
  padding-left: 4.375rem;
  font-size: 0.875rem;
  background-position: 0 center;
  background-repeat: no-repeat;
  min-height: 3.2rem;
}

.children-promo__item--insulation {
  background-image: url('../images/icons/insulation.svg');
}

.children-promo__item--grow {
  background-image: url('../images/icons/development.svg');
}

.children-promo__item--quality {
  background-image: url('../images/icons/qualification.svg');
}

.children-promo__item--network {
  background-image: url('../images/icons/networking.svg');
}


.children-promo__item--individual {
  background-image: url('../images/icons/individual.svg');
}

/* our-actions style */

.tooltip {
  position: relative;
}

.tooltip__btn {
  border: none;
  padding: 0;
  color: var(--text);
  background-color: transparent;
  cursor: pointer;
}

.tooltip__txt {
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  z-index: 3;
  padding: 1rem 1.6rem;
  width: max-content;
  max-width: 23rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 170%;
  color: #fff;
  background: var(--accent);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  border-radius: 0.625rem;
  transition: opacity .3s ease-in-out,transform .3s ease-in-out,visibility .3s ease-in-out;
}

.tooltip__btn:hover + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* applying styles */

.applying__items {
  display: flex;
  justify-content: space-between;
}

/* footer styles */

.footer {
	background-color: var(--text);
	color: #fff;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	padding: 4.375rem 0;
}

.footer__heading {
	position: relative;
	margin-bottom: 1.25rem;
	padding-bottom: 1.25rem;
	font-size: 1.5rem;
	font-weight: 800;
	opacity: 0.8;
}

.footer__heading::after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 2.5rem;
	height: 0.188rem;
	content: "";
	background-color: var(--yellow);
	border-radius: 0.125rem;
}

.footer__list li {
	margin-bottom: 1.25rem;
}

.footer__list a {
	color: #fff;
	opacity: 0.8;
	transition: all 0.3s ease;
}

.footer__list a:hover {
	color: var(--yellow);
	text-decoration: underline;
	transition: all 0.3s ease;
}