/* USER VARIABLES SECTION */

:root {
	--accent: rgba(49, 96, 15, 0.8);
	--accent-hover: rgba(88, 131, 2, 0.75);
	--second: #ECEBF1;
	--text: #171A1A;
	--yellow: #F1F160;
	--regular-text: 16px;
	--lineheight: 1.7;
	--userfont: inter-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/inter-Light.woff2") format("woff2"); font-family: "inter-st"; font-weight: 300; font-style: normal; }
@font-face { src: url("../fonts/inter-Regular.woff2") format("woff2"); font-family: "inter-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/inter-Medium.woff2") format("woff2"); font-family: "inter-st"; font-weight: 500; font-style: normal; }
@font-face { src: url("../fonts/inter-SemiBold.woff2") format("woff2"); font-family: "inter-st"; font-weight: 600; font-style: normal; }
@font-face { src: url("../fonts/inter-Bold.woff2") format("woff2"); font-family: "inter-st"; font-weight: 700; font-style: normal; }
@font-face { src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"); font-family: "inter-st"; font-weight: 800; font-style: normal; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

body.lock {
	overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul,
ol {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

button {
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	border-radius: 0;
	cursor: pointer;
	appearance: none;
}

img {
	max-width: 100%;
	display: block;
	border-radius: 0.625rem;
}

input,
button,
textarea,
select {
	font: inherit;
}

body.lock .header {
	background-color: #fff;
}

.container {
	max-width: 71.25rem;
	padding: 0 1rem;
	margin: 0 auto;
}

._format {
	padding: 4.375rem 0;
}

._bg-second {
	background-color: var(--second);
}

.button {
	display: inline-block;
	font-weight: 700;
	background-color: var(--accent);
	color: #fff;
	padding: 0.625rem 1.563rem;
	border-radius: 0.625rem;
	transition: background-color 0.3s ease;
}

.btn-more {
	color: var(--text);
	font-weight: 700;
	text-decoration: underline;
	font-size: 0.938rem;
}

.title {
  position: relative;
  padding-top: 1rem;
  font-weight: 800;
  line-height: 1.5;
  font-size: 1.563rem;
}

.article-text {
  margin: 1rem 0;
  font-size: 0.938rem;
}

.article-items {
	margin-bottom: 1.25rem;
}

.article-item {
	position: relative;
	margin-bottom: 1.25rem;
	padding-left: 0.938rem;
	font-size: 0.938rem;
}

.article-item::before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	height: 1.725rem;
	width: 0.2rem;
	background-color: var(--accent);
	border-radius: 0.2rem;
	content: "";
}

.article-item:last-child {
	margin-bottom: 0;
}

.title::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 0.2rem;
  background-color: var(--accent);
  border-radius: 0.2rem;
  box-shadow: 0.5px 0.5px 0.5px var(--accent);
  content: "";
}

.button:hover {
	background-color: var(--accent-hover);
	transition: background-color 0.3s ease;
	box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.05);
}

/* USER STYLES */

/* header styles */

.header {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	transition: transform 0.5s;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
}

.header--static {
	position: static;
	background-color: #fff;
}

.header.hide {
	transform: translateY(-100%);
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 7.5rem;
}

.logo--header {
	position: relative;
	z-index: 6;
}

.header__list {
	display: flex;
}

.header__list li {
	position: relative;
}

.header__list a::after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	content: "";
	background-color: transparent;
	transition: all 0.3s ease;
}

.header__list a:hover::after {
	background-color: var(--accent);
	transition: all 0.3s ease;
}

.header__list li + li {
	margin-left: 2.5rem;
}

.header__list a {
	color: var(--text);
}

body._touch .header__link.header__link--active {
	color: var(--yellow);
}

.header__item--dropdown {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.header__item--dropdown::after {
	display: none;
}

.header__menu-arrow {
	width: 0;
	height: 0;
	margin-left: 10px;
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid var(--accent);
	transition: transform 0.3s;
	outline: transparent;
}

.header__sub-menu {
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 0;
	background-color: var(--accent);
	border-radius: 0.625rem;
	padding: 0.625rem 1rem;
	min-width: 12.5rem;
}

body._pc .header__list > li:hover .header__sub-menu {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translate(0px, 0px);
}

body._touch .header__list > li._active .header__sub-menu {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translate(0px, 0px);
}

body._touch .header__list > li._active .header__menu-arrow {
	transform: rotate(-180deg);
}

body._touch .header__list>li {
		display: flex;
		align-items: center;
	}

.header__sub-menu a::after {
	display: none;
}

.header__sub-menu li + li {
	margin-left: 0;
	margin-top: 5px;
}

.header__sub-menu a {
	white-space: nowrap;
	color: #fff;
	opacity: 0.8;
	transition: opacity 0.3s ease;
}

.header__sub-menu a:hover {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.header__contacts {
	position: relative;
	z-index: 6;
}

.header__contacts-item {
	position: relative;
	padding-left: 2.25rem;
	margin-bottom: 0.6rem;
}

.header__contacts-item:last-child {
	margin-bottom: 0;
}

.header__contacts-item--mail::before,
.header__contacts-item--phone::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1rem;
	height: 1rem;
	content: "";
	background-repeat: no-repeat;
	background-size: cover;
}
.header__contacts-item--mail::before { 
	background-image: url('../images/icons/envelope-solid.svg');
}

.header__contacts-item--phone::before {
	background-image: url('../images/icons/phone-alt-solid.svg');
}

.header__contacts-link {
	position: relative;
	color: var(--text);
	padding-bottom: 0.2rem;
}

.header__contacts-link::after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background-color: transparent;
	transition: all 0.3s ease;
	content: "";
}

.header__contacts-link:hover.header__contacts-link::after {
	background-color: var(--accent);
}

.header__burger {
	
}

/* hero styles */

.hero {
	position: relative;
	min-height: 47rem;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.hero::after {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	background-color: rgba(0, 0, 0, 0.1);
}

.hero__content {
	max-width: 60vw;
	width: 100%;
	padding: 1.5rem 3.125rem;
	border-top-left-radius: 0.625rem;
	border-bottom-left-radius: 0.625rem;
	background-color: var(--accent);
}

.hero.hero--portfolio .hero__content {
  max-width: 55vw;
}

.hero__title {
	font-size: 2.125rem;
	color: #fff;
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: 3rem;
}

.hero.hero--portfolio .hero__title,
.hero.hero--portfolio .hero__descr {
  max-width: 39rem;
}

.hero__title span {
	color: #ECEBF1;
	font-weight: 400;
}

.hero__sub-title {
	position: relative;
	display: block;
	margin-bottom: 0.625rem;
	padding-left: 3.5rem;
	font-size: 1.625rem;
	font-weight: 800;
	color: #fff;
}

.hero__sub-title::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 2.5rem;
	height: 0.2rem;
	background-color: var(--yellow);
	content: "";
}

.hero__descr {
	color: #fff;
}

/* promo styles */

.promo__inner {
	display: flex;
}

.promo__content {
	max-width: 100%;
	width: 100%;
	margin-right: 3.25rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.promo__title {
	position: relative;
	max-width: 20rem;
	margin-bottom: 1.875rem;
	padding-top: 1rem;
	text-align: right;
}

.promo__title::before {
	position: absolute;
	right: 0;
	top: 0;
	width: 2.5rem;
	height: 0.2rem;
	background-color: var(--accent);
	content: "";
}

.promo__image {
	max-width: 56%;
	object-fit: cover;
	cursor: pointer;
}

.square-decor {
	position: relative;
}

.square-decor::before {
	position: absolute;
	right: -0.7rem;
	bottom: -0.7rem;
	z-index: -1;
	width: 40%;
	height: 54%;
	background-color: var(--accent);
	border-radius: 0.625rem;
	content: "";
}

/* directions style */

.main-title {
	position: relative;
	margin-bottom: 1.5rem;
	padding: 0 0 1rem 1.35rem;
	font-size: 2.125rem;
}

.main-title::after {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	background-color:rgba(88, 131, 2, 0.2);
	content: "";
}

.directions__title::after {
	width: 30rem;
}

.directions__items {
	display: flex;
	justify-content: space-between;
}

.universal-item {
	max-width: 34.375rem;
	border: 1px solid rgba(88, 131, 2, 0.15);
	border-radius: 0.625rem;
}

.universal-item__top-content {
	position: relative;
}

.universal-item__cover {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.45);
	border-top-left-radius: 0.625rem;
	border-top-right-radius: 0.625rem;
	transition: all 0.3s ease;
}

.universal-item:hover .universal-item__cover {
	background-color: transparent;
	transition: all 0.3s ease;
}

.universal-item__top-content::before,
.universal-item__top-content::after {
	position: absolute;
	top: 1.5rem;
	width: 0.625rem;
	height: 0.625rem;
	content: "";
	opacity: 0;
	transition: opacity 0.3s ease;
}

.universal-item:hover .universal-item__top-content::before,
.universal-item:hover .universal-item__top-content::after{
	opacity: 1;
	transition: opacity 0.3s ease;
}

.universal-item__top-content::before {
	left: 1.5rem;
	background-image: url('../images/icons/angle-left.svg');
}

.universal-item__top-content::after {
	right: 1.5rem;
	background-image: url('../images/icons/angle-right.svg');
}

.universal-item__image {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.universal-item__name {
	position: absolute;
	z-index: 2;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 0.625rem 1.5rem;
	color: #fff;
	font-size: 1.125rem;
	font-weight: 400;
	background-color: var(--accent);
}

.universal-item:hover .universal-item__name {
	text-decoration: underline;
}

.universal-item__main-content {
	padding: 1.5rem 1.5rem 2.25rem;
}

.universal-item__descr {
	margin-bottom: 0.8rem;
	font-size: 0.938rem;
	color: var(--text);
}

.universal-item__more {
	font-size: 0.875rem;
}

/* importance styles */

.importance__title::after {
	width: 22rem;
}

.importance__content {
	display: flex;
	align-items: center;
	min-width: 0;
}

.importance__slide {
	display: flex;
	align-items: center;
}

.importance__slide a {
	display: block;
}

.importance__info {
	max-width: 34.375rem;
	text-align: right;
	margin-right: 3.5rem;
}

.importance__heading {
	position: relative;
	margin-bottom: 1.25rem;
	padding-bottom: 1.25rem;
	font-size: 1.375rem;
}

.importance__heading::after {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 2.5rem;
	height: 0.2rem;
	background-color: var(--accent);
	border-radius: 0.125rem;
	content: "";
}

.importance__text {
	margin-bottom: 1.25rem;
	max-width: 90%;
	margin-left: auto;
}

.importance__text span{
	font-weight: 700;
	color: rgba(88, 131, 2, 0.75);
}

.importance__slider-wrapper {
	width: 100%;
}

.importance__slider {
	border-radius: 0.625rem;
	padding-bottom: 40px;
}

.importance__slide-descr {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.625rem 1.25rem;
	background-color: var(--accent);
	color: #fff;
	border-bottom-left-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem;
}

.importance__slide-descr span{
	color: rgba(203, 255, 97, 0.75);
}

.importance__img {
	position: relative;
	max-width: 32rem;
	width: 100%;
}

.importance__slider .swiper-pagination {
	max-width: calc(34.375rem + 3.5rem + 5.75rem);
	bottom: 0;
	text-align: right;
}

.importance__slider .swiper-pagination-bullet {
	width: 1.875rem;
	height: 0.32rem;
	border-radius: 0.125rem;
	margin-left: 0!important;
	margin-right: 1rem!important;
}

.importance__slider .swiper-pagination-bullet-active {
	background-color: var(--accent);
}


/* initiatives styles */

.initiatives {
	position: relative;
	overflow: hidden;
}

.initiatives::after {
	position: absolute;
	z-index: 0;
	background-image: url('../images/icons/earth-decor.svg');
	background-size: cover;
	background-position: center;
	transform: rotate(348deg);
    width: 45rem;
    height: 46rem;
    right: -192px;
    top: 42px;
	content: "";
	transition: transform 1s ease;
}

.initiatives.rotate::after {
	transform: rotate(370deg);
	transition: transform 1s ease;
}

.initiatives__title {
	margin-bottom: 2.5rem;
}

.initiatives__title::after {
	width: 21rem
}

.initiatives__content {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-between;
}

.initiatives__info {
	max-width: 34.375rem;
	margin-right: 2rem;
}

.initiatives__tabs {
	display: flex;
	margin-bottom: 1.5rem;
}

.initiatives__tab {
	padding: 0.625rem 1.875rem;
	font-size: 1.25rem;
	font-weight: 700;
	color: var(--text);
	border: 2px solid rgba(49, 96, 15, 0.8);
	border-radius: 0.625rem;
}

.initiatives__tab.active {
	color: #fff;
	background-color: var(--accent);
	border-color: transparent;
}

.initiatives__tab + .initiatives__tab {
	margin-left: 1.875rem;
}

.initiatives__tab-content {
	display: none;
}

.initiatives__tab-content.active {
	display: block;
}

.initiatives__text {
	margin-bottom: 1.25rem;
}

.initiatives__images-content {
	display: none;
}

.initiatives__images-content.active {
	display: flex;
	align-items: center;
}

.initiatives__images-left {
	margin-right: 1.25rem;
}

.initiatives__img {
	max-width: 16.625rem;
	width: 100%;
	height: 11rem;
}

.initiatives__images-right a {
	display: block;
	margin-bottom: 1.25rem;
}

.initiatives__images-right a:last-child {
	display: block;
	margin-bottom: 0;
}

/* about styles */

.about__inner {
	margin-top: 7.5rem;
	display: flex;
	align-items: center;
}

.about__title {
	position: relative;
	margin-bottom: 0.938rem;
	padding-top: 0.938rem;
	font-size: 2.125rem;
	font-weight: 800;
}

.about__title::before {
	position: absolute;
	right: 0;
	top: 0;
	width: 2.5rem;
	height: 0.2rem;
	background-color: var(--accent);

	content: "";
}

.about__info {
	max-width: 32rem;
	margin-right: 3.75rem;
	text-align: right;
}

.about__image img {
	max-width: 34.375rem;
	margin-bottom: 1.25rem;
	width: 100%;
	max-height: 27.5rem;
}

/* team styles */

.team__title {
	margin-bottom: 2.25rem;
	padding-left: 0;
	text-align: center;
	font-weight: 800;
}

.team__title::after {
	width: 300px;
	left: 50%;
	transform: translateX(-50%);
}

.team__list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.25rem;
}

.team__item {
	max-width: 100%;
	display: flex;
	align-items: center;
}

.team__item:nth-child(even) {
	flex-direction: row-reverse;
	margin-right: auto;
}

.team__item:nth-child(odd) {
	margin-left: auto;
}

.team__item:nth-child(odd) .team__content{
	margin-right: 1.25rem;
	text-align: right;
}

.team__item:nth-child(even) .team__content{
	margin-left: 1.25rem;
}

.team__role,
.team__name {
	display: block;
	color: var(--text);
	font-weight: 500;
	margin-bottom: 0.75rem;
}

.team__email {
	color: var(--text);
	font-weight: 500;
}

.team__image {
	max-width: 10.625rem;
}

/* requisites styles */

.requisites {
	padding-bottom: 0.625rem;
}

.requisites__title {
	margin-bottom: 3.125rem;
	text-align: right;
	font-weight: 800;
	font-size: 2.125rem;
}

.requisites__title::after {
	left: 100%;
	transform: translateX(-100%);
	width: 25rem;
}

.requisites__list {
	display: flex;
	flex-wrap: wrap;
}

.requisites__item {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	max-width: 33.3%;
	flex-basis: 33.3%;
	margin-bottom: 3.75rem;
}

.requisites__content {
	text-align: right;
}

.requisites__name {
	margin-bottom: 1.5rem;
	display: block;
	text-align: right;
	font-size: 1.125rem;
}

.requisites__dowload {
	display: inline-block;
	text-align: right;
	color: var(--text);
	border-bottom: 1px solid var(--text);
	font-size: 1.063rem;
	font-weight: 500;
	line-height: 1.3;
}

.requisites__img {
	margin-left: 1rem;
}

/* contacts styles */

.ymaps-2-1-79-zoom {
	display: none!important;
}

.contacts {
	position: relative;
}

.contacts__info {
	position: absolute;
	max-width: 65vw;
	padding: 1.5rem 4rem 1.5rem calc((100vw - 71.25rem - 17px) / 2 + 1rem);
	z-index: 2;
	top: 50%;
	left: 0;
	color: #fff;
	transform: translateY(-50%);
	background-color: var(--accent);
	border-top-right-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem;
}

.contacts__title {
	margin-bottom: 1rem;
	padding-left: 0;
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.4;
}

.contacts__title::after {
	width: 10rem;
	background-color: #fff;
	opacity: 0.1;
}

.contacts__items {
	margin-bottom: 1.875rem;
}

.contacts__item {
	position: relative;
	margin-bottom: 1rem;
	padding-left: 1.625rem;
}

.contacts__item::before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 1rem;
	content: "";
	background-repeat: no-repeat;
	background-size: cover;
}

.contacts__item--mail::before {
	height: 0.75rem;
	background-image: url('../images/icons/mail-yellow.svg');
}

.contacts__item--phone::before {
	height: 1rem;
	background-image: url('../images/icons/phone-yellow.svg');
}

.contacts__item:last-child {
	margin-bottom: 0;
}

.contacts__link {
	color: #fff;
	border-bottom: 1px solid transparent;
	transition: border-color 0.3s ease;
}

.contacts__link:hover {
	border-color: var(--yellow);
	transition: border-color 0.3s ease;
}

.contacts__heading {
	margin-bottom: 1rem;
	display: inline-block;
	font-size: 1.7rem;
	line-height: 1.1;
	border-bottom: 1px solid var(--yellow);
}

.contacts__requisites p {
	font-size: 0.875rem;
}

.contacts__addition {
	display: block;
	margin-top: 1.25rem;
	font-size: 0.75rem;
	opacity: 0.7;
}

/* resume styles */

.resume {
  position: fixed;
  z-index: 4;
  top: 7.5rem;
}

.resume__open-btn {
  background-color: var(--accent);
  color: #fff;
  border-radius: 0;
  border-bottom-right-radius: 0.625rem;
  font-weight: 400;
  transition: all 0.3s ease;
}

.resume__open-btn.hide {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.resume__content {
  position: absolute;
  top: 0;
  left: -300%;
  padding: 1rem 3.75rem 2rem 1.875rem;
  background-color: var(--accent);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  border-bottom-right-radius: 0.625rem;
}

.resume__content.show {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.resume__close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
}

.resume__close-icon {
  pointer-events: none;
}

.resume__title {
  margin-bottom: 1rem;
  display: block;
  font-size: 1.75rem;
  color: #fff;
  font-weight: 300;
}

.resume__item {
  position: relative;
  margin-bottom: 0.7rem;
  padding-left: 1.625rem;
  white-space: nowrap;
}

.resume__item::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1rem;
  height: 0.125rem;
  background-color: #fff;
  content: "";
  opacity: 0.8;
}

.resume__item--accent::before{
  background-color: var(--yellow);
  opacity: 1;
}

.resume__link {
  color: #fff;
  opacity: 0.8;
  transition: all 0.3s;
}

.resume__link:hover,
.resume__link.resume__link--active {
	color: var(--yellow);
	opacity: 1;
	transition: all 0.3s;
}

/* children-promo */

.children-promo,
.forest-promo {
  margin-top: 7.876rem;
}

.children-promo__inner,
.forest-promo__inner {
  display: flex;
  align-items: center;
}

.children-promo__image,
.forest-promo__image {
  margin-right: 3rem;
  max-width: 33.25rem;
}

.children-promo__item {
  margin-bottom: 1.563rem;
  padding-left: 4.375rem;
  font-size: 0.875rem;
  background-position: 0 center;
  background-repeat: no-repeat;
  min-height: 3.2rem;
}

.children-promo__item--insulation {
  background-image: url('../images/icons/insulation.svg');
}

.children-promo__item--grow {
  background-image: url('../images/icons/development.svg');
}

.children-promo__item--quality {
  background-image: url('../images/icons/qualification.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.children-promo__item--network {
  background-image: url('../images/icons/networking.svg');
}


.children-promo__item--individual {
  background-image: url('../images/icons/individual.svg');
}

/* forest styles */

.forest-promo__items {
	margin: 1.563rem 0;
}

.forest-promo__item {
	margin-bottom: 1.563rem;
	padding-left: 4.375rem;
	font-size: 0.938rem;
	background-repeat: no-repeat;
}

.forest-promo__item--law {
	background-image: url('../images/icons/icon-law.svg');
}

.forest-promo__item--business {
	background-image: url('../images/icons/icon-business.svg');
}

.forest-promo__item:last-child {
	margin-bottom: 0;
}

.forest-promo__dark {
	font-weight: 500;
}

.forest-promo__diagram {
	font-size: 0;
	width: 34.375rem;
	height: 27.813rem;
	background-image: url('../images/icons/reasons-diagram.svg');
	background-repeat: no-repeat;
}

/* recovery-ways styles */

.recovery-ways__content-top {
	margin-bottom: 2.813rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.recovery-ways__info {
	margin-right: 3.438rem;
}

.recovery-ways__title {
	margin-bottom: 2rem;
}

.recovery-ways__img {
	max-width: 32.125rem;
}

.recovery-ways__tabs-list {
	margin-bottom: 1.875rem;
	display: flex;
}

.recovery-ways__tabs-btn {
	padding: 0.625rem 1rem;
	background-color: rgba(23, 26, 26, 0.2);
	border-radius: 0.625rem;
}

.recovery-ways__tabs-btn.recovery-ways__tabs-btn--active {
	color: #fff;
	background-color: var(--accent);
}

.recovery-ways__tabs-item + .recovery-ways__tabs-item {
	margin-left: 1.25rem;
}


.recovery-ways__tabs-content {
	margin-bottom: 1rem;
	display: none;
}

.recovery-ways__tabs-content.recovery-ways__tabs-content--active {
	display: flex;
	align-items: center;
}

.recovery-ways__tab-img {
	margin-left: 3.438rem;
	max-width: 32.125rem;
	height: 23.375rem;
}

.recovery-ways__progress {
	margin-bottom: 1.25rem;
}

.recovery-ways__progress-item {
	position: relative;
	margin-bottom: 1rem;
	font-size: 0.8rem;
	font-weight: 300;
}

.recovery-ways__progress-item::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
	border-top-right-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem;
	content: "";
}

.recovery-ways__progress-item:last-child {
	margin-bottom: 0;
}

.recovery-ways__progress-item--artific {
	padding-left: 19.75rem;
}

.recovery-ways__progress-item--artific::before {
	width: 18.75rem;
	background-color: #62A6BC;
}

.recovery-ways__progress-item--combine {
	padding-left: 8.214rem;
}

.recovery-ways__progress-item--combine::before {
	width: 7.214rem;
	background-color: #FFAB2D;
}

.recovery-ways__progress-item--natural {
	padding-left: 8.175rem;
}

.recovery-ways__progress-item--natural::before {
	width: 7.175rem;
	background-color: #7FCA48;
}

.recovery-ways__descr {
	margin-bottom: 1rem;
}

.recovery-ways__descr-item {
	position: relative;
	padding-left: 1.25rem;
	font-size: 0.938rem;
}

.recovery-ways__descr-item::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 0.625rem;
	height: 0.625rem;
	border-radius: 50%;
	content: "";
}

.recovery-ways__descr-item--artific::before {
	background-color: #62A6BC;
}

.recovery-ways__descr-item--combine::before {
	background-color: #FFAB2D;
}

.recovery-ways__descr-item--natural::before {
	background-color: #7FCA48;
}

.recovery-ways__more {
	font-size:  0.8rem;
}

.recovery-ways__bottom-content {
	border-top: 1px solid rgba(88, 131, 2, 0.2);
	padding-top: 0.75rem;
}

.recovery-ways__bottom-content p {
	margin: 0;
}

.popup__info .recovery-ways__popup-image,
.popup__info .forest-importance__popup-image {
	margin: 3.125rem auto;
}

/* forest-importance styles */

.forest-importance__top-content {
	margin-bottom: 2.5rem;
	display: flex;
	align-items: center;
}

.forest-importance__image {
	margin-right: 3.438rem;
	max-width: 34.375rem;
}

.forest-importance__text--first {
	max-width: 34.375rem;
	font-size: 1.25rem;
}

.forest-importance__clarification {
	display: block;
	margin-bottom: 0.8rem;
	font-size: 0.8rem;
}

.forest-importance__diagram-content {
	margin-bottom: 1rem;
	display: flex;
	font-size: 0.938rem;
}

.forest-importance__diagram-graph {
	max-width: 34.375rem;
	width: 100%;
}

.forest-importance__graph-item {
	position: relative;
	margin-bottom: 0.938rem;
	line-height: 1rem;
	font-size: 0.8rem;
	font-weight: 300;
}

.forest-importance__graph-item::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	height: 100%;
	border-top-right-radius: 0.625rem;
	border-bottom-right-radius: 0.625rem;
	content: "";
}

.forest-importance__graph-item--canada {
	padding-left: 31.875rem;
}

.forest-importance__graph-item--canada::before {
	width: 31.25rem;
	background-color: #7FCA48;
}

.forest-importance__graph-item--russia {
	padding-left: 19.75rem;
}

.forest-importance__graph-item--russia::before {
	width: 19.125rem;
	background-color: #62A6BC;
}

.forest-importance__graph-item--ocean {
	padding-left: 18.938rem;
}

.forest-importance__graph-item--ocean::before {
	width: 18.313rem;
	background-color: #B42DE3;
}

.forest-importance__graph-item--brazil {
	padding-left: 9.688rem;
}

.forest-importance__graph-item--brazil::before {
	width: 9.063rem;
	background-color: #A36227;
}

.forest-importance__graph-item--southAmerica {
	padding-left: 8.125rem;
}

.forest-importance__graph-item--southAmerica::before {
	width: 7.5rem;
	background-color: #FFAB2D;
}

.forest-importance__graph-item--centralAmerica {
	padding-left: 5rem;
}

.forest-importance__graph-item--centralAmerica::before {
	width: 4.375rem;
	background-color: #AA4203;
}

.forest-importance__graph-item--usa {
	padding-left: 3.875rem;
}

.forest-importance__graph-item--usa::before {
	width: 3.25rem;
	background-color: #B5B5B5;
}

.forest-importance__graph-item--africa {
	padding-left: 2.875rem;
}

.forest-importance__graph-item--africa::before {
	width: 2.25rem;
	background-color: #2DEFA9;
}

.forest-importance__graph-item--allWorld {
	padding-left: 2.625rem;
}

.forest-importance__graph-item--allWorld::before {
	width: 2rem;
	background-color: #454545;
}

.forest-importance__graph-item--china {
	padding-left: 1.138rem;
}

.forest-importance__graph-item--china::before {
	width: 0.513rem;
	background-color: #FFA4A4;
}

.forest-importance__graph-item--asia {
	padding-left: 1.106rem;
}

.forest-importance__graph-item--asia::before {
	width: 0.481rem;
	background-color: #31DAFF;
}

.forest-importance__graph-item:last-child {
	margin-bottom: 0;
}

.forest-importance__diagram-descr {
	margin-left: 3.438rem;
}

.forest-importance__descr-item {
	position: relative;
	margin-bottom: 0.938rem;
	padding-left: 1.25rem;
	line-height: 1rem;
}

.forest-importance__descr-item::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 0.625rem;
	height: 0.625rem;
	border-radius: 50%;
	content: "";
}

.forest-importance__descr-item--canada::before {
	background-color: #7FCA48;
}

.forest-importance__descr-item--russia::before {
	background-color: #62A6BC;
}

.forest-importance__descr-item--ocean::before {
	background-color: #B42DE3;
}

.forest-importance__descr-item--brazil::before {
	background-color: #A36227;
}

.forest-importance__descr-item--southAmerica::before {
	background-color: #FFAB2D;
}

.forest-importance__descr-item--centralAmerica::before {
	background-color: #AA4203;
}

.forest-importance__descr-item--usa::before {
	background-color: #B5B5B5;
}

.forest-importance__descr-item--africa::before {
	background-color: #2DEFA9;
}

.forest-importance__descr-item--allWorld::before {
	background-color: #454545;
}

.forest-importance__descr-item--china::before {
	background-color: #FFA4A4;
}

.forest-importance__descr-item--asia::before {
	background-color: #31DAFF;
}

.forest-importance__descr-item:last-child {
	margin-bottom: 0;
}

.forest-importance__diagram-more {
	font-size: 0.8rem;
}

/* forest-history styles */

.forest-history__inner {
	display: flex;
	align-items: center;
}

.forest-history__image {
	margin-left: 3.438rem;
	max-width: 32.125rem;
}

.forest-history__more {
	font-size: 0.8rem;
}

/* who-save */

.who-save__content-item {
	margin-bottom: 2.5rem;
	display: flex;
	align-items: center;
}

.who-save__content-item:nth-child(odd) .who-save__img {
	margin-right: 3.438rem;
}

.who-save__content-item:nth-child(even) .who-save__img  {
	margin-left: 3.438rem;
	max-width: 32.125rem;
}

.who-save__img {
	
	max-width: 34.375rem;
}

.who-save__more {
	font-size: 0.8rem;
}

/* how-save */

.how-save__popup-diagram__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.how-save__content-item {
	display: flex;
}

.how-save__img {
	margin-left: 3.438rem;
	max-width: 32.125rem;
}

.how-save__popup-item::before {
	height: 1.5rem;
}

.how-save__more {
	font-size: 0.8rem;
}

.how-save__popup-diagram {
	margin: 3.125rem 0;
	padding: 2.5rem;
}

.how-save__popup-diagram-title {
	margin-bottom: 1rem;
	max-width: 32.125rem;
	font-size: 0.938rem;;
	font-weight: 500;
}

.how-save__popup-diagram-clarification {
	position: relative;
	margin-bottom: 1rem;
	padding-left: 1.25rem;
	display: block;
	font-size: 0.8rem;
}

.how-save__popup-diagram-clarification::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 0.625rem;
	height: 0.625rem;
	background-color: #588302;
	border-radius: 50%;
	content: "";
}

.how-save__popup-diagram-content {
	display: flex;
}

.how-save__popup-graph {
	max-width: 34.375rem;
	width: 100%;
}

.how-save__popup-graph-item {
	position: relative;
	margin-bottom: 0.938rem;
	font-size: 0.8rem;
	line-height: 1rem;
	font-weight: 300;
}

.how-save__popup-graph-item:last-child {
	margin-bottom: 0;
}

.how-save__popup-graph-item::before,
.how-save__popup-graph-item::after {
	position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    content: "";
}

.how-save__popup-graph-item--tatarstan {
	padding-left: 27.563rem;
}

.how-save__popup-graph-item--tatarstan::before {
	width: 26.938rem;
	background-color: #588302;
}

.how-save__popup-graph-item--tatarstan::after {
	width: 24rem;
	background-color: #EB5757;
	z-index: 2;
}

.how-save__popup-graph-item--chukotka {
	padding-left: 22.75rem;
}

.how-save__popup-graph-item--chukotka::before {
	width: 3.875rem;
	background-color: #588302;
	z-index: 2;
}

.how-save__popup-graph-item--chukotka::after {
	width: 22.125rem;
	background-color: #F2994A;
}

.how-save__popup-graph-item--uliyanovsk {
	padding-left: 14.375rem;
}

.how-save__popup-graph-item--uliyanovsk::before {
	width: 13.75rem;
	background-color: #588302;
	
}

.how-save__popup-graph-item--uliyanovsk::after {
	width: 12.375rem;
	background-color: #BB6BD9;
	z-index: 2;
}

.how-save__popup-graph-item--volgograd {
	padding-left: 12.313rem;
}

.how-save__popup-graph-item--volgograd::before {
	width: 11.688rem;
	background-color: #588302;
	
}

.how-save__popup-graph-item--volgograd::after {
	width: 10.813rem;
	background-color: #4F4F4F;
	z-index: 2;
}

.how-save__popup-graph-item--tambov {
	padding-left: 11.438rem;
}

.how-save__popup-graph-item--tambov::before {
	width: 10.313rem;
	background-color: #588302;
	z-index: 2;
}

.how-save__popup-graph-item--tambov::after {
	width: 10.813rem;
	background-color: #A36227;
}

.how-save__popup-graph-item--orenburg {
	padding-left: 9.875rem;
}

.how-save__popup-graph-item--orenburg::before {
	width: 8.75rem;
	background-color: #588302;
		z-index: 2;
}

.how-save__popup-graph-item--orenburg::after {
	width: 9.25rem;
	background-color: #6FCF97;
}

.how-save__popup-graph-item--lipetsk {
	padding-left: 7.875rem;
}

.how-save__popup-graph-item--lipetsk::before {
	width: 6.563rem;
	background-color: #588302;
	z-index: 2;
}

.how-save__popup-graph-item--lipetsk::after {
	width: 7.25rem;
	background-color: #56CCF2;
}

.how-save__popup-graph-item--belgorod {
	padding-left: 5.938rem;
}

.how-save__popup-graph-item--belgorod::before {
	width: 4.625rem;
	background-color: #588302;
	z-index: 2;
}

.how-save__popup-graph-item--belgorod::after {
	width: 5.313rem;
	background-color: #AA4203;
}

.how-save__popup-descr-item {
	position: relative;
	margin-bottom: 0.938rem;
	padding-left: 1.25rem;
	font-size: 0.8rem;
	line-height: 1rem;
}

.how-save__popup-descr-item:last-child {
	margin-bottom: 0;
}

.how-save__popup-descr-item::before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 0.635rem;
	height: 0.635rem;
	border-radius: 50%;
	content: "";
}

.how-save__popup-descr-item--tatarstan::before {
	background-color: #EB5757;
}

.how-save__popup-descr-item--chukotka::before {
	background-color: #F2994A;
}

.how-save__popup-descr-item--uliyanovsk::before {
	background-color: #BB6BD9;
}

.how-save__popup-descr-item--volgograd::before {
	background-color: #4F4F4F;
}

.how-save__popup-descr-item--tambov::before {
	background-color: #A36227;
}

.how-save__popup-descr-item--orenburg::before {
	background-color: #6FCF97;
}

.how-save__popup-descr-item--lipetsk::before {
	background-color: #56CCF2;
}

.how-save__popup-descr-item--belgorod::before {
	background-color: #AA4203;
}

/* how-prepare styles */

.how-prepare__content-item {
	display: flex;
	align-items: center;
}

.how-prepare__img {
	max-width: 34.375rem;
	margin-right: 3.438rem;
}

.how-prepare__more {
	font-size: 0.8rem;
}

/* how-we-work styles */

.how-we-work {
	position: relative;
	overflow: hidden;
}

.how-we-work::after {
	position: absolute;
	background-image: url('../images/icons/earth-decor.svg');
	content: "";
	position: absolute;
    z-index: 0;
    background-image: url(../images/icons/earth-decor.svg);
    background-size: cover;
    background-position: center center;
    transform: rotate(348deg);
    width: 44.4rem;
    height: 46rem;
    right: -20rem;
    bottom: -20rem;
    transition: transform 1s ease;
}

.how-we-work__content-item {
	margin-bottom: 3.438rem;
	display: flex;
	align-items: center;
}

.how-we-work__content-item:nth-child(odd) .how-we-work__img {
	margin-left: 3.438rem;
	max-width: 32.125rem;
}

.how-we-work__content-item:nth-child(even) .how-we-work__img {
	margin-right: 3.438rem;
	max-width: 34.375rem;
}

.how-we-work__link {
	font-size: 0.8rem;
}

.how-we-work__popup-info img {
	width: 100%;
}

.how-we-work__one::before {
	height: 1.725rem;
}

/* general popup styles */

.popup {
	position: fixed;
	z-index: 4;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 7.5rem;
	left: 0;
	padding-top: 4.375rem;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;
}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup.open .popup__content {
	transform: translate(0px, 0px);
	opacity: 1;
}

.popup__body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup__content {
	background-color: #fff;
	color:#000;
	max-width: 71.25rem;
	width: 100%;
	padding: 2rem 0 8rem;
	border-radius: 0.625rem;
	position: relative;
	transform: translate(0px, -100%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}

.popup__container {
	max-width: 46.25rem;
	margin: 0 auto;
}

.popup__close {
	position: absolute;
	right: 2.5rem;
	top: 2.5rem;
}

.popup__close-icon {
	width: 1.563rem;
	height: 1.563rem;
	fill: #9e9e9e;
	transition: fill 0.3s;
}

.popup__close-icon:hover {
	fill: #000;
	transition: fill 0.3s;
}

.popup__title {
	font-size: 40px;
	margin: 0px 0px 1em 0px;
}

.popup__info img {
	margin: 3.125rem 0;
}

.popup-banner {
	margin: 3.125rem 0;
	padding: 7rem 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.popup-banner__content {
	max-width: 46.25rem;
	margin: 0 auto;
}

.popup-banner__quote {
	margin-bottom: 3.125rem;
	font-size: 1.5rem;
	color: #fff;
}

/* peculiarities styles */

.peculiarities {
	position: relative;
	overflow: hidden;
}

.peculiarities::after {
	position: absolute;
	background-image: url('../images/icons/earth-decor.svg');
	content: "";
	position: absolute;
    z-index: 0;
    background-image: url(../images/icons/earth-decor.svg);
    background-size: cover;
    background-position: center center;
    transform: rotate(348deg);
    width: 44.4rem;
    height: 46rem;
    right: -12rem;
    bottom: -10.75rem;
    transition: transform 1s ease;
}

.peculiarities__inner {
	display: flex;
}

.peculiarities__title {
	margin-bottom: 1rem;
}

.peculiarities__items {
	margin-bottom: 2.125rem;
	max-width: 34.375rem;
	display: flex;
	justify-content: space-between;
}

.peculiarities__item {
	max-width: 10.625rem;
	padding-top: 3.75rem;
	text-align: center;
	font-size: 0.938rem;
	background-repeat: no-repeat;
	background-position: center 0;
}

.peculiarities__item--domestic {
	background-image: url('../images/icons/domestic-icon.svg');
}

.peculiarities__item--network {
	background-image: url('../images/icons/network-icon.svg');
}

.peculiarities__item--creative {
	background-image: url('../images/icons/creative-icon.svg');
}

.peculiarities__heading {
	max-width: 26rem;
	font-weight: 500;
}

.peculiarities__text--first {
	max-width: 34.375rem;
}

.peculiarities__images {
	position: relative;
	z-index: 1;
	margin-left: 1.875rem;
}

.peculiarities__image {
	margin-bottom: 4.5rem;
	max-width: 28.438rem;
}

.peculiarities__image:last-child {
	margin-bottom: 0;
}

/* tasks styles */

.tasks__inner {
	display: flex;
}

.tasks__img {
	margin-right: 3.438rem;
	max-width: 28.438rem;
	object-fit: cover;
}

.tasks__one::before {
	height: 1.563rem;
}

/* help-ways styles */

.help-ways__inner {
	display: flex;
	align-items: center;
}

.help-ways__images-wrapper {
	position: relative;
	z-index: 1;
	max-width: 28.438rem;
	width: 100%;
	height: 18.75rem;
}

.help-ways__images {
	position: relative;
	z-index: 1;
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.help-ways__images-wrapper::after {
	position: absolute;
	right: -0.7rem;
	bottom: -0.7rem;
	z-index: 0;
	width: 40%;
	height: 54%;
	background-color: var(--accent);
	border-radius: 0.625rem;
	content: "";
}

.help-ways__images-wrapper::before {
	position: absolute;
	top:  -0.6rem;
	left: -0.5rem;
	width: 9.563rem;
	height: 6.063rem;
	content: "";
	background-image: url('../images/icons/decor-rounds.svg');
}

.help-ways__one {
	display: none;
}

.help-ways__one::before {
	height: 1.563rem;
}

.help-ways__one--visible {
	display: block;
}

.help-ways__more {
	position: relative;
	padding-left: 1rem;
	font-size: 0.938rem;
	font-weight: 500;
	line-height: 1;
}

.help-ways__more.hide {
	display: none;
}

.help-ways__more::before {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid var(--accent);
	content: "";
}

/* importance--article styles */

.importance--article .importance__slider-wrapper {
	max-width: 28.438rem;
}

.importance--article .importance__info {
	text-align: left;
	margin-left: 3.438rem;
}

.importance--article .importance__text {
	margin-left: 0;
}

.importance--article .swiper-pagination {
	text-align: left;
}

/* alternatives styles */

.alternatives__inner {
	display: flex;
}

.alternatives__images {
	margin-left: 3.438rem;
}

.alternatives__image {
	margin-bottom: 3.438rem;
	max-width: 28.438rem;
}

.alternatives__image:last-child {
	margin-bottom: 0;
}

.alternatives__one::before {
	height: 1.563rem;
}

/* social-work style */

.social-work__title {
	margin-bottom: 2.5rem;
}

.social-work__items {
	display: flex;
	justify-content: space-between;
}

.social-work__item {
	margin-bottom: 2.5rem;
	max-width: 34.375rem;
	display: flex;
	align-items: center;
}

.social-work__descr {
	margin-bottom: 2rem;
	font-size: 0.875rem;
}

.social-work__more {
	font-size: 0.875rem;
}

.social-work__image {
	margin-right: 1.25rem;
	max-width: 16.563rem;
}

.social-work__addition {
	font-weight: 400;
}

/* our-actions styles */

.our-actions {
	position: relative;
	overflow: hidden;
}

.our-actions::after {
	position: absolute;
	background-image: url('../images/icons/earth-decor.svg');
	content: "";
	position: absolute;
    z-index: 0;
    background-image: url(../images/icons/earth-decor.svg);
    background-size: cover;
    background-position: center center;
    transform: rotate(348deg);
    width: 44.4rem;
    height: 46rem;
    right: -20rem;
    bottom: -20rem;
    transition: transform 1s ease;
}

.our-actions__title {
	margin-bottom: 1.875rem;
}

.our-actions__title::before,
.how-we-work__title::before{
	background-color: #FAFF00;
}

.our-actions__text {
	max-width: 38rem;
}

.our-actions__heading {
	margin-bottom: 1.875rem;
}

.our-actions__list {
	position: relative;
	z-index: 1;
	margin-bottom: 2.5rem;
	display: flex;
	flex-wrap: wrap;
}

.our-actions__item {
	width: 50%;
	display: flex;
	align-items: center;
}

.our-actions__item::before {
	height: 1.563rem;
}

.our-actions__icon {
	margin-left: 0.6rem;
	width: 1.563rem;
	height: 1.563rem;
}

/* applying style */

.applying__inner {
	display: flex;
	flex-direction: column;
}

.applying__title {
	margin-bottom: 1.875rem;
}

.applying__more {
	margin-top: 2.5rem;
	align-self: center;
}

/* our-actions style */

.tooltip {
  position: relative;
}

.tooltip__btn {
	display: flex;
	align-items: center;
  border: none;
  padding: 0;
  color: var(--text);
  background-color: transparent;
  cursor: pointer;
}

.tooltip__txt {
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  z-index: 3;
  padding: 1rem 1.6rem;
  width: max-content;
  max-width: 23rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 170%;
  color: #fff;
  background: rgba(49, 96, 15, 1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  border-radius: 0.625rem;
  transition: opacity .3s ease-in-out,transform .3s ease-in-out,visibility .3s ease-in-out;
}

.tooltip__btn:hover + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* applying styles */

.applying__items {
  display: flex;
  justify-content: space-between;
}

/* portfolio video*/

.portfolio-video__title {
  margin-bottom: 2.5rem;
}

.portfolio-video__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.675rem;
  min-height: 40rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-video__link {
  font-size: 0;
}

.portfolio-video__play {
  width: 3.125rem;
  height: 3.125rem;
}

.portfolio-video__play path {
  fill: #fff;
  transition: all 0.3s;
}

.portfolio-video__play:hover path {
  fill: var(--yellow);
  transition: all 0.3s;
}

/* portfolio text */

.portfolio-text__title {
  margin-bottom: 1.875rem;
}

.portfolio-text__content p {
  margin: 1.25rem auto;
  font-size: 0.938rem;
}

/* portfolio gallery */

.portfolio-gallery__title {
  margin-bottom: 2.5rem;
}

.portfolio-gallery__item {
  display: grid;
  grid-gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.portfolio-gallery__item:last-child {
  margin-bottom: 0;
}

.portfolio-gallery__item:nth-child(odd){
  grid-template-areas: 
                "a b c"
                "d b e";
}


.portfolio-gallery__item:nth-child(even){
  grid-template-areas: 
                "a b c"
                "a d c";
}

.portfolio-gallery__item:nth-child(odd) .portfolio-gallery__image:nth-child(2) {
  grid-area: 1 / 2 / 3 / 3;
}

.portfolio-gallery__item:nth-child(even) .portfolio-gallery__image:nth-child(1) {
  grid-area: 1 / 1 / 3 / 2;
}

.portfolio-gallery__item:nth-child(even) .portfolio-gallery__image:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}

.portfolio-gallery__item:nth-child(even) .portfolio-gallery__image:nth-child(3) {
  grid-area: 1 / 3 / 3 / 4;
}

.portfolio-gallery__item:nth-child(even) .portfolio-gallery__image:nth-child(4) {
  grid-area: 2 / 2 / 3 / 3;
}

.portfolio-gallery__image {
  width: 100%;
  height: 100%;
}

/* help */

.help {
  margin-top: 7.5rem;
}

.help__title {
  margin-bottom: 2.5rem;
}

.help__items {
  display: flex;
  justify-content: space-between;
}

.help__item {
  max-width: 22.5rem;
  border: 1px solid rgba(88, 131, 2, 0.15);
  border-radius: 0.675rem;
}

.help__top {
  position: relative;
}

.help__descr {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 0;
  font-size: 1.125rem;
}

.help__content {
  padding: 1.3rem 0.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.help__img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.help__text {
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  text-align: center;
}

/* footer styles */

.footer {
	background-color: var(--text);
	color: #fff;
}

.footer__inner {
	display: flex;
	justify-content: space-between;
	padding: 4.375rem 0;
}

.footer__heading {
	position: relative;
	margin-bottom: 1.25rem;
	padding-bottom: 1.25rem;
	font-size: 1.5rem;
	font-weight: 800;
	opacity: 0.8;
}

.footer__heading::after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 2.5rem;
	height: 0.188rem;
	content: "";
	background-color: var(--yellow);
	border-radius: 0.125rem;
}

.footer__list li {
	margin-bottom: 1.25rem;
}

.footer__list li:last-child {
	margin-bottom: 0;
}

.footer__list a {
	color: #fff;
	opacity: 0.8;
	transition: all 0.3s ease;
}

.footer__list a:hover {
	color: var(--yellow);
	text-decoration: underline;
	transition: all 0.3s ease;
}